body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.card {
  --bs-card-bg: #fff;
}

textarea:focus {
  outline: 0;
}

.login {
  background-color: #DEF3FF;
  min-width:100%;
  min-height:100%;
  position: fixed;
  background-size: cover;
  background-position: center;
}

.registerbg {
  background-color: #DEF3FF;
  min-width: 100%;
  min-height:100%;
  position: fixed;
  background-size: cover;
  background-position: center;
}

.homebg {
  background-color: #DEF3FF;
  min-width:100%;
  min-height:100%;
  position: fixed;
  background-size: cover;
  background-position: center;
}

.navbar-brand>img {
  width: 60px;
  height: 50px;
  padding:0px 2px;
  margin-right: 10px;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.homeHeader {
  background-color: #DEF3FF;
  height: 30rem;
  width: 100%;
}

.headerTitle {
  margin-top: 98px;
  margin-left: 130px;
}

.sampleCV {
  background-color: white;
  height: 30rem;
}

.yourCV {
  height: 12rem;
  width: 30.5rem;
  background-color: #fff;
  margin-right: 2rem;
  border-radius: 0.3rem;
}

.footerYJIJ {
  background-color: black;
  height: 14rem;
}

.homePicStyle {
  width: 100px;
  height: 100px;
}

.btn-primary {
  background-color: #05A2FA;
  border-color: orange;
  box-shadow: -3px 3px orange, -2px 2px orange, -1px 1px orange;
}

.btn-primary:hover {
  background-color: orange;
  border-color: orange;
} 

.btn-outline-secondary {
  border-radius: 0;
  padding:0.5px 0.5px 0.5px 0.5px;
}

.btn-outline-secondary:hover {
  background-color: #05A2FA;
  border-radius: 0;
  border-color:transparent;
  box-shadow: 0px 0px 14px #4195fc;
  transform: scale(1.1);
}

.analysisbg {
  background-color: #DEF3FF;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-size: cover;
  background-position: center;
  overflow-y:auto;
}

.react-pdf__Page__canvas {
  margin: auto;
  margin-top: 20px;
  width: 70% !important;
  height: 90% !important;
}

.pdfButton {
  width:30;
  height:50;
  border-color: grey;
}

.modal-dialog {
  width: 42rem;
  height: 15rem;
  margin: auto;
}

.accordion-button:not(.collapsed){
  background-color: white;
}

.accordion-button:focus {
  box-shadow: none;
}

.userPage {
  background-color: #DEF3FF;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-size: cover;
  background-position: center;
  overflow-y:auto;
}

.form-control {
  width: 350px;
  border-width: 1px;
  border-color: lightgray;
}

.form-control.m-3{
  font-size: 17px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.viewHistory {
  height: 12rem;
  width: 27.8rem;
  margin-top: 1.5rem;
  background-color: #fff;
  margin-left: 6rem;
  border-radius: 0.3rem;
}

.list-group {
  border: none;
}

.circle {
  display: flex;
  width: 5rem;
  height: 5rem;
  margin: auto;
  border:4px solid #4195fc;
  border-radius: 50%;
  margin-bottom: 18px;
}

.text {
  font-size:2.5rem;
  margin: auto;
  color:rgb(90, 89, 89);
}

.accordion-body {
  max-height: 53vh;
  overflow-y: auto;
}

.btn-light {
  float: right;
  background-color: white;
  border-color: white;
  padding: 0px;
}